@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/mixins";

@import "_variables";

@import "node_modules/bootstrap/scss/variables";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/utilities";

.react-pdf__Document {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.react-pdf__Page > canvas {
	max-width: 100%;
	height: auto !important;
}
